
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background: lightblue;
}
p {
color:purple;
}
body{
    background: rgb(192, 192, 251);
}